{% extends 'base.html' %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div id="pattern-lines">
        <h1>- - - - - </h1>
    </div>
    <div id="second-pattern">
        <h1>- - - - - </h1>
    </div>
    <div id="third-pattern">
        <h1>- -</h1>
    </div>
    <div id="fourth-pattern">
        <h1>- -</h1>
    </div>
    <div id="information-div">
        <h2>BACK-END DEVELOPER &#x1F468;&zwj;&#x200D;&#x1F4BB</h2>
        <p>I am a Systems Engineering student with skills in Python, Java, MySQL, Django, HTML, CSS and the MVC design pattern. Experience in competitive programming and programming marathons. I seek professional opportunities that allow me to expand my knowledge, learn from experienced professionals, and contribute in a dynamic development environment. I am committed to continuous learning and have a B2 level of English.</p>
        </div>
{% endblock %}