{% load static %}

<header class="header">
    <div id= logo>
        <a href="{% url 'home' %}"><h1>JF</h1></a>
    </div>
    <nav class ="nav-bar">
        <input type="checkbox" id="check">
        <label  for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li>
                <a href="{% url 'home' %}">HOME</a>
            </li>
            <li>
                <a href="#about">ABOUT</a>
            </li>
            <li>
                <a href="">PROJECTS</a>
            </li>
        </ul>  
        <div id ="toggle-btn">
        </div>   
    </nav>
</header>